Importing the Dependencies

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [5]:
#loading the dataset intp a pandas data frame

data = pd.read_csv('C:\\Users\\g7gay\\OneDrive\\Desktop\\Projects\\diabetes.csv')

In [6]:
#printing the first 5 rows of the dataset

print(data.head)

<bound method NDFrame.head of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

In [7]:
#number of row and columns in the dataset
data.shape

(768, 9)

In [8]:
# getting all statistical measures of the data
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non Diabetic

1 -> Diabetic

In [10]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [11]:
#seperating the data and the labels

x = data.drop(columns ='Outcome', axis =1)
y = data['Outcome']

DATA STANDARDIZATION

In [12]:
scaler = StandardScaler()
scaler.fit(x)

StandardScaler()

In [13]:
standardized_data = scaler.transform(x)

In [14]:
x = standardized_data
y = data['Outcome']

TRAIN TEST SPLIT

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, stratify = y, random_state = 2)

#stratify is used to ensure that there is an equal proportion of samples of different labels in the training and testing dataset
# without stratify, all data 0 can do to the training data and all data 1 can go to the testing data

TRAINING THE MODEL

In [19]:
classifier = svm.SVC(kernel = 'linear')
#Training the support vector machine classifier
classifier.fit(x_train, y_train)

SVC(kernel='linear')

MODEL EVALUATION

ACCURACY SCORE

In [21]:
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [22]:
print("Accuracy score of the training data : ",training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [23]:
# Accuracy score on the test data
x_test_prediction = classifier.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [25]:
print("Accuracy score of the testing data : ", test_data_accuracy)

Accuracy score of the testing data :  0.7727272727272727

MAKING A PREDICTION

In [30]:
inp = (5,166,72,19,175,25.8,0.587,51)

#changing the data into a numpy array

inpa = np.asarray(inp)

#reshaping the array for only one data point

inpr = inpa.reshape(1,-1)

#standardizing the input data

scaler = StandardScaler()
inpr = scaler.fit_transform(inpr)

prediction = classifier.predict(inpr)

if (prediction[0] == 0):
    print("The person is diabetic")
else:
    print("The person is not diabetic")

The person is diabetic